@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    --blue: #5C459B;
    --white: #FFFFFF;
    --yellow: #F5CF51;
    --black: #141416;
    --dark-black: #000000;
    --dark-blue: #20202A;
    --dark-two: #161618;
    --dark-three: #09090A;
    --gray-one: #F5F5F5;
    --gray-two: #E6E6E6;
    --gray-three: rgba(230, 230, 230, 0.5);
    color: var(--gray-two);
    background: url(../img/svg/wave_big.svg) no-repeat top right;
    background-color: var(--black);
    background-size: auto auto;
}

body.active {
    overflow: hidden;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body.logged-in #page {
    min-height: calc(100vh - 32px);
}

body.error404 {
    background-image: none;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-style: normal;
    font-weight: 200;
    font-size: 72px;
    line-height: 84px;
}

h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.blue {
    color: var(--blue);
}

.yellow {
    color: var(--yellow);
}

.btn-small {
    padding: 15px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-small-blue {
    padding: 15px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 6px;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
}

.btn-small:hover {
    background-color: var(--blue);
    color: var(--gray-two);
}

.btn-small-blue:hover {
    background-color: var(--black);
    color: var(--blue);
}

.btn-small-white {
    padding: 15px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--black);
    border: 1px solid var(--white);
    border-radius: 6px;
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
}

.btn-small-white:hover {
    background: var(--blue);
    border: 1px solid var(--blue);
}

.btn-medium {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--blue);
    padding: 20px 40px;
    border: 1px solid var(--blue);
    box-shadow: 0px 18px 30px -16px var(--dark-black);
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
}

.btn-medium:hover {
    background-color: transparent;
    color: var(--blue);
    box-shadow: none;
}

.btn-small-white {
    padding: 15px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.btn-small-white:hover {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 18px 30px -16px var(--dark-black);
}

.login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--yellow);
    border-bottom: 1px solid var(--yellow);
}

.login:hover {
    border-bottom: 1px solid var(--blue);
    color: var(--blue);
}

.password-reset {
    padding: 20px 170px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 6px;
    background: var(--dark-two);
}

.password-reset:hover {
    background-color: var(--blue);
    color: var(--white);
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-two);
    border: 1px solid var(--gray-three);
    border-radius: 6px;
    width: 50px;
    height: 50px;
}

.social-media-icons:hover {
    background-color: var(--dark-two);
    border: 1px solid var(--blue);
}

#masthead {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    background: var(--dark-two);
    padding: 20px 25px;
}

.mobile_menu {
    display: none;
    background: url(../img/svg/blue_line.svg) no-repeat;
    width: 36px;
    height: 2px;
    transform: translateX(-5px);
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.mobile_menu::before {
    content: '';
    display: block;
    background: url(../img/svg/blue_line.svg) no-repeat;
    width: 36px;
    height: 2px;
    transform: translateX(10px);
    position: absolute;
    top: -7px;
    transition: all 0.5s ease-in-out;
}

.mobile_menu::after {
    content: '';
    display: block;
    background: url(../img/svg/blue_line.svg) no-repeat;
    width: 36px;
    height: 2px;
    transform: translateX(10px);
    position: absolute;
    bottom: -7px;
    transition: all 0.5s ease-in-out;
}

.mobile_menu.active {
    background: transparent;
    transition: all 0.5s ease-in-out;
}

.active.mobile_menu::before {
    background: url(../img/svg/gray_line.svg) no-repeat;
    transform: rotate(45deg) translate(5px, 5px);
}

.active.mobile_menu::after {
    background: url(../img/svg/gray_line.svg) no-repeat;
    transform: rotate(-45deg) translate(5px, -5px);
}

.header-logo {
    display: flex;
}

.header-logo a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.header-logo img {
    height: 35px;
}

.logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    margin-left: 10px;
}

.logo_sub {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.24em;
    margin-top: 5px;
}

.header-nav {
    display: flex;
    width: 100%;
}

nav.main-navigation {
    padding: 0 20px;
    width: 100%;
}

ul#primary-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

ul#primary-menu li {
    display: flex;
}

ul#primary-menu li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--gray-two);
    text-decoration: none;
    padding: 10px;
    margin: 0;
}

ul#primary-menu li a:hover {
    color: var(--blue);
}

.mobile_menu_block {
    display: none;
}

.header-panel {
    display: flex;
    align-items: center;
}

.header-panel .login {
    margin-left: 25px;
}

.header-panel .login a {
    color: var(--yellow);
    text-decoration: none;
    position: relative;
}

.login:hover a {
    border-bottom: 1px solid var(--blue);
    color: var(--blue);
    text-decoration: none;
}

.header-panel .login .i-sign {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(../img/svg/sign-out.svg) no-repeat;
    transform: translateY(1px);
    margin-left: 2px;
}

.login:hover .i-sign {
    background: url(../img/svg/sign-out_h.svg) no-repeat;
}

.footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr 4fr 4fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    background: var(--dark-two);
    padding: 100px 0px;
    width: 100%;
}

.footer_col1 ul#primary-menu {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.contact_block {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.contact_block div {
    padding: 10px;
    display: flex;
    align-items: center;
}

.tel_line:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/svg/telephone.svg) 50% 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
    background-size: contain;
}

.mail_line:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/svg/email.svg) 50% 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
    background-size: contain;
}

.geo_line:before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/svg/geo.svg) 50% 50%;
    background-repeat: no-repeat;
    margin-right: 15px;
    background-size: contain;
}

.loc_line {
    margin-left: 35px;
}

.social_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.social_title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: var(--white);
}

.social_icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social_icon>a {
    margin: 25px 18px 25px 0;
}

.linkedin {
    width: 30px;
    height: 30px;
    background: url(../img/svg/linkedin.svg) 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-icons:hover .linkedin {
    background: url(../img/svg/linkedin_h.svg) 50% 50%;
}

.instagram {
    width: 30px;
    height: 30px;
    background: url(../img/svg/instagram.svg) 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-icons:hover .instagram {
    background: url(../img/svg/instagram_h.svg) 50% 50%;
}

.youtube {
    width: 30px;
    height: 30px;
    background: url(../img/svg/youtube.svg) 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-icons:hover .youtube {
    background: url(../img/svg/youtube_h.svg) 50% 50%;
}

.facebook {
    width: 30px;
    height: 30px;
    background: url(../img/svg/facebook.svg) 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-icons:hover .facebook {
    background: url(../img/svg/facebook_h.svg) 50% 50%;
}

.footer_col4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.footer_logo img {
    height: 43px;
}

.footer_logo .logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 34px;
}

.footer_logo .logo_sub {
    width: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.31em;
}

.footer_col4 .btn-small-blue {
    margin-top: 33px;
    max-width: 210px;
}

.text_404 {
    font-style: normal;
    font-weight: 200;
    font-size: 370px;
    line-height: 300px;
    background: linear-gradient(267.05deg, #C4A952 10%, #5C459B 123.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.2;
}

.text_404_desc {
    font-style: normal;
    font-weight: 200;
    font-size: 55px;
    line-height: 64px;
    color: #F5CF51;
    padding: 50px 0;
}

section.page_404 {
    width: 100%;
    position: relative;
}

.image_404 {
    position: absolute;
    width: 60%;
    height: 90%;
    right: 0;
    bottom: 0;
    background: url(../img/svg/404.svg) no-repeat 50% 50%;
    background-size: contain;
}

.login_form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: var(--dark-two);
    border: 1px solid rgba(245, 207, 81, 0.35);
    box-shadow: 0px 32px 40px -26px #070110;
    border-radius: 12px;
    padding: 40px;
}

.login_logo a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.login_logo .logo-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 17px;
}

.login_logo img {
    height: 25px;
}

.login_form_title_text {
    margin: 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--gray-one);
}

.login_form_block_input {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.login_form_block_input input {
    background-color: var(--dark-two) !important;
    border: 1px solid rgba(245, 207, 81, 0.35);
    box-shadow: 0px 32px 40px -26px #070110;
    border-radius: 6px;
    padding: 20px;
    width: 100%;
    color: var(--gray-two) !important;
}

.login_form_block_input input:-internal-autofill-selected {
    background-image: none !important;
    background-color: var(--dark-two) !important;
    color: var(--gray-two) !important;
    outline: none;
}

.login_form_block_input input::-webkit-input-placeholder {
    color: var(--gray-two) !important;
    opacity: 0.85;
}

.login_form_block_input button,
.login_form_block_input [type="button"],
.login_form_block_input [type="reset"],
.login_form_block_input [type="submit"] {
    background: var(--dark-two);
    border: 1px solid var(--yellow);
    border-radius: 6px;
    width: 100%;
    padding: 20px;
    color: var(--yellow);
}

a.forgot {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.login_footer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login_footer_text a {
    text-decoration: none;
    color: var(--gray-two);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.85;
}

.login_form_block_input.singin_text {
    margin: 75px 0 20px;
    text-align: center;
    color: #828282;
}

a.signin {
    color: var(--white);
    margin-left: 10px;
}

.login_form_title_text.sing_up {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: var(--yellow);
}

body.home {
    background: url(../img/svg/wave_right.svg) no-repeat top right;
    background-color: var(--black);
    background-size: contain;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 25px;
    align-items: flex-start;
}

section.home-1 {
    margin-top: 50px;
}

.home-1-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.home_title {
    font-style: normal;
    font-weight: 200;
    font-size: 85px;
    line-height: 100px;
    color: var(--yellow);
}

.home_title span {
    display: block;
    color: var(--blue);
}

.home_text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--gray-one);
    margin: 50px 0;
}

section.home-2 {
    background: url(../img/svg/wave_center.svg) no-repeat top center;
    background-color: var(--black);
    background-size: cover;
    margin-top: 50px;
}

.home-2-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.home-2-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    align-items: flex-start;
}

.home-2-content:nth-child(1) {
    padding-right: 30px;
}

.home-2-content:nth-child(2) {
    padding-left: 0px;
}

.home_title_2 {
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
    color: var(--gray-one);
}

.home_text_2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: rgba(230, 230, 230, 0.8);
    margin-top: 50px;
}

.case_container {
    position: absolute;
    transform: translateY(-30%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tige_cases {
    display: flex;
    flex-direction: column;
    background: var(--dart-two);
    border: 1px solid rgba(245, 207, 81, 0.35);
    box-shadow: 0px 32px 40px -26px #070110;
    border-radius: 12px;
    padding: 35px 15px;
    background: var(--dark-two);
}

.tige_cases:nth-child(1) {
    margin-bottom: 30px;
}

.case_box1 {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.case_box2 {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    transform: translateY(10%);
}

.tige_icon_1 {
    width: 36px;
    height: 36px;
    background: url(../img/svg/case1.svg) no-repeat center center;
    background-size: cover;
}

.tige_icon_2 {
    width: 36px;
    height: 36px;
    background: url(../img/svg/case2.svg) no-repeat center center;
    background-size: cover;
}

.tige_icon_3 {
    width: 36px;
    height: 36px;
    background: url(../img/svg/case3.svg) no-repeat center center;
    background-size: cover;
}

.tige_icon_4 {
    width: 36px;
    height: 36px;
    background: url(../img/svg/case4.svg) no-repeat center center;
    background-size: cover;
}

.tige_title {
    margin: 20px 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--yellow);
}

.tige_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-two);
    margin-bottom: 30px;
}

.home-2-row.optimize {
    margin-top: 400px;
}

.home-2-content img {
    width: 100%;
    height: auto;
}

.tige_text p {
    margin-bottom: 30px;
}

.up_box {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: var(--dark-two);
    border: 1px solid var(--blue);
    border-radius: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    display: none;
}

.up_box.show {
    display: flex;
}

.up_box i {
    background: url(../img/svg/arrow-up.svg) no-repeat center center;
    background-size: cover;
    width: 17px;
    height: 11px;

}

section.home-3 {
    background: url(../img/svg/bg_map.svg) no-repeat 50% 50px;
    background-color: var(--dark-two);
    background-size: auto;
    margin-top: 50px;
    padding: 120px 25px;
}

.home-3-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.tige_count_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 60px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.count_data {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(230, 230, 230, 0.5);
}

.tige_count {
    width: calc(100% / 5);
    padding-right: 50px;
}

.count_num {
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    color: var(--yellow);
}

.count_num span {
    font-weight: 700;
    font-size: 40px;
    line-height: 90px;
}

section.home-4 {
    padding: 120px 25px;
}

.home-4-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.logo_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 90px 0;
}

.logo_item {
    background: #141416;
    box-shadow: 0px 16px 26px -10px rgb(0 0 0 / 50%);
    border-radius: 12px;
    width: calc(25% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

.home-5-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
}

.home-5-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    align-items: flex-start;
}

.home-5-2 {
    display: flex;
    flex-direction: column;
    width: calc(60% - 50px);
    position: relative;
    align-items: flex-end;
    margin-left: 50px;
}

.home-5-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--white);
    margin-bottom: 30px;
}

section.home-6 {
    background: url(../img/svg/home_last.svg) no-repeat 50% 50%;
    background-color: #20202A;
    background-size: auto;
    padding: 120px 25px;
}

.home-6-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.home-5-2 img {
    width: 100%;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/svg/play.svg) no-repeat center center;
    background-size: contain;
    width: 105px;
    height: 105px;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.page-template-how-it-works {
    background: url(../img/svg/how-it-works.svg) no-repeat 50% 50%;
    background-color: var(--black);
    background-size: cover;
}

.how-title {
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
    color: var(--gray-one);
}

section.how-it-works-1 {
    margin-top: 110px;
}

.how-case {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.how-case-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.case-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 30px;
}

.case-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
}

.case-img {
    background: #20202B;
    box-shadow: 0px 38px 60px -28px #000000;
    border-radius: 36px;
    width: 100%;
}

.case-img img {
    min-height: 400px;
}

.how-case-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: var(--yellow);
    margin-bottom: 30px;
}

.how-case-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray-two);
}

.how-case-item-text p {
    margin-bottom: 20px;
}

.how-case-item-text ul {
    list-style-image: url(../img/svg/checkbox.svg);
    padding-left: 30px;
}

.how-case-item-text ul li {
    margin-bottom: 20px;
}

.page-template-who-is-it-for {
    background: url(../img/svg/wave_who.svg) no-repeat 50% 50%;
    background-color: var(--black);
    background-size: cover;
}

.who-case {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info_box_block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info_block_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info_block_item.first {
    margin-bottom: 120px;
}

.info_block_item.second {
    margin-top: 120px;
}

.info_left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.info_right {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.info_block_item_title {
    display: flex;
    flex-direction: row;
}

.info_title {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.info_title span {
    display: block;
}

.info_block_item.first .info_title {
    color: var(--yellow);
}

.info_block_item.second .info_title {
    color: #888888;
}

.info_block_item.first .info_title span {
    color: var(--white);
}

.info_block_item.second .info_title span {
    color: var(--white);
}

.info_block_item_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
    max-width: 220px;
    margin-top: 15px;
}

.info_block_item.first .icon {
    height: 60px;
    width: 60px;
    background: url(../img/svg/like.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-left: 60px
}

.info_block_item.second .icon {
    height: 60px;
    width: 60px;
    background: url(../img/svg/dislike.svg) no-repeat 50% 50%;
    background-size: contain;
    margin-left: 60px
}

.info_block_list {
    width: calc(50% - 8px);
    margin: 4px;
    padding: 40px 30px;
    background: var(--black);
    box-shadow: 0px 16px 26px -10px rgb(0 0 0 / 50%);
    border-radius: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: var(--white);
    opacity: 0.85;
    cursor: pointer;
}

.info_block_item.first .info_right .info_block_list {
    border: 2px solid var(--yellow);
}

.info_block_item.second .info_right .info_block_list {
    border: 2px solid #B3B3B3;
}

.info_block_item.first .info_right .info_block_list:hover {
    background: var(--white);
    color: var(--black);
}

.info_block_item.second .info_right .info_block_list:hover {
    background: #B3B3B3;
    color: var(--black);
    text-decoration: line-through;
}

.home_text p:nth-child(2) {
    margin-top: 35px;
}

.who-case-item-title {
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
    line-height: 40px;
    color: var(--yellow);
    margin-bottom: 30px;
}

.who-case-item-text p {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.who-case-item-text ul {
    list-style-image: url(../img/svg/checkbox.svg);
    padding-left: 30px;
}

.who-case-item-text ul li {
    margin-bottom: 20px;
}

.pricing_title {
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
}

.page-template-pricing {
    background: url(../img/svg/wave_price.svg) no-repeat top right;
    background-color: var(--black);
    background-size: 100%;
}

.plan ul {
    list-style-image: url(../img/svg/checkbox.svg);
    padding-left: 30px;
}

#most-popular ul {
    list-style-image: url(../img/svg/checkbox_yellow.svg);
    padding-left: 30px;
}

.plan ul li {
    margin-bottom: 20px;
}

#pricing-table {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #161618;
    border: 1px solid rgba(245, 207, 81, 0.35);
    box-shadow: 0px 32px 40px -26px #070110;
    border-radius: 12px;
    padding: 40px 18px;
    position: relative;
    margin: 0 5px;
    width: calc(100% / 4 - 10px);
}

.plan:hover {
    border: 1px solid var(--white);
}

.plan-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.plan-footer a {
    width: 100%;
}

.plan-body {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.plan-label {
    position: absolute;
    top: 0;
    left: 50%;
    background: #5C459B;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    padding: 7px;
    width: 80%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.plan-name {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--yellow);
    margin-bottom: 15px;
}

.plan-price {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: var(--yellow);
    margin-bottom: 15px;
    align-items: flex-end;
}

.plan-price span {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(230, 230, 230, 0.6);
}

.plan-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(230, 230, 230, 0.8);
    margin-bottom: 10px;
}

.plan-descr-sub {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--yellow);
    margin-bottom: 6px;
    height: 24px;
}

.plan-header {
    border-bottom: 1px solid rgba(245, 207, 81, 0.35);
}

.dropdown {
    display: block;
    width: 100%;
    margin: auto;
}

.dropdown+.dropdown {
    margin-top: 15px;
}

.dropdown__top {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s ease;
    background: var(--dark-two);
    border: 1px solid rgba(245, 207, 81, 0.3);
    box-shadow: 0px 16px 26px -10px rgb(0 0 0 / 30%);
    border-radius: 12px;
}

.dropdown.open .dropdown__top {
    color: var(--yellow);
    border-radius: 12px 12px 0px 0px;
}

.dropdown__top::after {
    content: " ";
    width: 34px;
    height: 34px;
    background: url(../img/svg/plus.svg) no-repeat center;
    background-size: contain;
    transition: transform 0.2s ease;
}

.open .dropdown__top::after {
    background: url(../img/svg/minus.svg) no-repeat center;
    transition: transform 0.2s ease;
}

.dropdown__btm {
    box-sizing: border-box;
    padding: 15px;
    display: none;
    background: #E7E7E7;
    border: 1px solid rgba(245, 207, 81, 0.3);
    box-shadow: 0px 16px 26px -10px rgb(0 0 0 / 50%);
    border-radius: 0 0 12px 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #141416;
    opacity: 0.85;
}

.faq_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faq_title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 64px;
    color: var(--grey-one);
}

video#vPlayer {
    border: none;
    aspect-ratio: 4/3;
    width: 100%;
}

img.poster {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 652px;
}

.poster.active,
.play.active {
    display: none;
}

.footer_copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--dark-two);
}

.footer_copyright_text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_copyright_text_line {
    margin: 0 15px 20px;
}

.footer_copyright_text_line a {
    text-decoration: none;
    color: var(--blue);
}

section.home-5 {
    background: url(../img/svg/wave.svg) no-repeat 50% 50%;
    background-size: cover;
}

.section_title {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    color: var(--white);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    text-align: center;
    width: 100%;
    margin-bottom: 70px;
}

.dropdown__btm ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

.section_description {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
    color: var(--white);
}

.section_description p,
.dropdown__btm p {
    margin-bottom: 30px;
}

.sub_decr {
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 64px;
    color: var(--gray-one);
    margin-bottom: 30px;
}

.sub_decr span {
    color: var(--blue);
}

.get-started-title {
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    color: var(--yellow);
}

.get-started-header {
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 15px 40px;
}

.get-started-subtitle {
    margin-top: 40px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: var(--greay-one);
}

.get-started-header-right img {
    height: 65px;
}

.get-started-header-right .header-logo {
    display: flex;
    align-items: center;
}

.get-started-header-right .logo-text {
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 25px;
    margin-left: 10px;
}

.get-started-form {
    width: 100%;
    display: flex;
}

.get-started-form .login_form_block {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.get-started-form .login_form_block_input {
    width: calc(50% - 30px);
    margin: 15px;
}

.login_form_block_input.submint {
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
}

body.page-template-get-started {
    background: url(../img/svg/wave-get.svg) no-repeat 50% 50%;
    background-color: var(--black);
    background-size: contain;
}










@media (max-width: 1280px) {
    #masthead {
        grid-template-columns: 3fr 5fr 4fr;
    }

    .footer {
        grid-template-columns: 2fr 3fr 2fr 5fr;
    }

    .case_container {
        transform: translateY(-30%);
    }

    .info_left {
        width: 35%;
    }

    .info_right {
        width: 65%;
    }

    .who-case-item-text p {
        font-size: 20px;
        line-height: 28px;
    }

    .who-case-item-title {
        font-size: 30px;
        line-height: 35px;
    }

    .who-case .case-left {
        width: 60%;
    }

    .who-case .case-right {
        width: 40%;
    }

    .home_title {
        font-style: normal;
        font-weight: 200;
        font-size: 70px;
        line-height: 60px;
    }
}

@media (max-width: 992px) {
    #masthead {
        grid-template-columns: 3fr 7fr 2fr;
        position: relative;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-panel .btn-small {
        display: none;
    }

    .footer_col1 {
        order: 1;
    }

    .footer_col4 {
        order: 2;
    }

    .footer_col2 {
        order: 3;
    }

    .footer_col3 {
        order: 4;
    }

    .text_404 {
        font-size: 300px;
    }

    .text_404_desc {
        font-size: 40px;
    }

    body.home {
        background-size: auto;
    }

    section.home-2 {
        background-size: contain;
    }

    .home_title {
        font-size: 70px;
        line-height: 85px;
    }

    .home-2-content:nth-child(1) {
        padding-right: 0;
        padding-bottom: 60px;
    }

    .home_title_2 {
        font-size: 50px;
        line-height: 60px;
    }

    .case_box2 {
        transform: translateY(0%);
    }

    .home-2-content {
        width: 100%;
    }

    .case_container {
        transform: translateY(0%);
        position: relative;
    }

    section.home-2 {
        background-repeat: repeat;
    }

    .home-2-row.optimize {
        margin-top: 200px;
        flex-direction: column-reverse;
    }

    .logo_item {
        width: calc(50% - 30px);
    }

    .home-5-1 {
        width: 50%;
    }

    .home-5-2 {
        width: calc(50% - 50px);
    }

    .tige_count {
        width: 33%;
    }

    #pricing-table {
        flex-wrap: wrap;
    }

    .plan {
        width: calc(100% / 2 - 10px);
        margin: 20px 5px;
    }

    .section_title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
    }

    .sub_decr {
        font-size: 30px;
        line-height: 40px;
    }

    .section_description {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    #masthead {
        grid-template-columns: 3fr 6fr 3fr;
        position: relative;
    }

    .mobile_menu {
        display: flex;
    }

    .header-logo a {
        justify-content: center;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 94px;
        left: -100%;
        height: calc(100vh - 94px);
        background: var(--dark-three);
        opacity: 0;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: scale(0);
    }

    .header-nav ul#primary-menu li {
        transition: all 600ms 700ms ease-in-out;
        opacity: 0;
    }

    .header-nav ul#primary-menu li:nth-child(odd) {
        transform: translateX(30%);
    }

    .header-nav ul#primary-menu li:nth-child(even) {
        transform: translateX(-30%);
    }

    .header-nav ul#primary-menu li:last-child {
        transform: none;
    }

    .header-nav.active ul#primary-menu li {
        opacity: 1;
        transform: translateX(0);
    }

    .admin-bar .header-nav {
        top: 140px;
    }

    .header-nav.active {
        left: 0;
        opacity: 1;
        transform: scale(1);
        z-index: 1;
    }

    .mobile_menu_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_menu_block .social_icon>a {
        margin: 25px 15px;
    }

    .header-nav.active ul#primary-menu {
        flex-direction: column;
    }

    .header-nav.active ul#primary-menu li a {
        font-size: 22px;
        line-height: 40px;
    }

    .mobile_menu_block .btn-small {
        margin-bottom: 50px;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        padding: 25px;
        justify-items: start;
    }

    .footer_col1 {
        order: 1;
    }

    .footer_col2 {
        order: 2;
    }

    .footer_col3 {
        order: 4;
    }

    .footer_col4 {
        order: 3;
    }

    .text_404 {
        font-size: 230px;
        line-height: 200px;
        margin-bottom: 150px;
        text-align: center;
    }

    .text_404_desc {
        text-align: center;
    }

    .page_404 a.btn-small-blue {
        display: block;
    }

    .image_404 {
        right: 50%;
        transform: translateX(50%);
    }

    .home_title {
        font-size: 60px;
        line-height: 70px;
    }

    .home_text {
        font-size: 20px;
        line-height: 30px;
        margin: 40px 0;
    }

    .home_title_2 {
        font-size: 40px;
        line-height: 50px;
    }

    .home_text_2 {
        font-size: 20px;
        line-height: 30px;
    }

    .tige_count {
        width: 50%;
        text-align: center;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .home-5-1 {
        width: 100%;
    }

    .home-5-2 {
        width: 100%;
        padding: 0;
    }

    .social_icon>a {
        margin: 15px;
    }

    .how-title {
        font-size: 30px;
        line-height: 35px;
    }

    .how-case {
        margin-top: 60px;
    }

    .how-case-item {
        flex-direction: column;
        margin: 30px 0;
    }

    .case-left {
        width: 100%;
        padding: 15px 0;
    }

    .case-right {
        width: 100%;
        padding: 15px 0;
    }

    .how-case-item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .how-case-item-title {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 15px;
    }

    .who-case .case-left {
        width: 100%;
    }

    .who-case .case-right {
        width: 100%;
    }

    .info_block_item {
        flex-direction: column;
    }

    .info_block_item.first {
        margin-bottom: 70px;
    }

    .info_block_item.second {
        margin-top: 70px;
    }

    .info_left {
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
    }

    .info_right {
        width: 100%;
    }

    .plan {
        width: calc(100% - 10px);
    }

    .footer_copyright_text {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .dropdown__top {
        font-size: 18px;
    }

    .section_title {
        font-size: 40px;
    }

    .get-started-title {
        font-size: 50px;
        line-height: 50px;
    }

    .get-started-header-left {
        max-width: 50%;
        padding-right: 15px;
    }

    .get-started-header-right .logo-text {
        font-size: 50px;
        line-height: 50px;
    }

    .get-started-header-right img {
        height: 50px;
    }
}

@media (max-width: 620px) {
    .get-started-title {
        font-size: 40px;
        line-height: 40px;
    }

    .get-started-header-right .logo-text {
        font-size: 40px;
        line-height: 40px;
    }

    .get-started-header-right img {
        height: 40px;
    }

    .get-started-header-left {
        max-width: 100%;
        padding-right: 0px;
    }

    .get-started-form .login_form_block_input {
        width: calc(100% - 30px);
    }
}

@media (max-width: 480px) {

    #masthead {
        grid-template-columns: 2fr 6fr 2fr;
        padding: 5px;
    }

    .header-nav {
        top: 64px;
        height: calc(100vh - 64px);
    }

    .admin-bar .header-nav {
        top: 110px;
    }

    .header-panel .login .i-sign {
        width: 25px;
        height: 25px;
        background: url(../img/svg/sign-out.svg) no-repeat;
        transform: translateY(5px);
        margin-left: 0;
        background-size: cover;
    }

    .login:hover a {
        border: none;
    }

    .header-panel .login {
        margin-left: 0;
        font-size: 0;
        border: none;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_col3 {
        order: 3;
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .footer_col4 {
        order: 4;
        grid-column-start: unset;
        grid-column-end: unset;
    }

    .text_404 {
        font-size: 140px;
    }

    .image_404 {
        width: 100%;
        height: 100%;
    }

    .home_title {
        font-size: 34px;
        line-height: 40px;
    }

    .home_text {
        font-size: 16px;
        line-height: 25px;
        margin: 40px 0;
    }

    .home_title_2 {
        font-size: 30px;
        line-height: 35px;
    }

    .home_text_2 {
        font-size: 16px;
        line-height: 24px;
    }

    .case_box1 {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .case_box2 {
        width: 100%;
        margin-left: 0;
    }

    .home-2-content a {
        display: none;
    }

    .tige_text {
        font-size: 14px;
        line-height: 22px;
    }

    .tige_title {
        font-size: 18px;
        line-height: 24px;
    }

    .count_num {
        font-size: 42px;
    }

    .count_num span {
        font-size: 22px;
    }

    .logo_item {
        width: 100%;
    }

    .social_icon>a {
        margin: 5px;
    }

    .info_block_list {
        width: calc(100% - 8px);
    }

    .get-started-title {
        font-size: 30px;
        line-height: 30px;
    }

    .get-started-header-right .logo-text {
        font-size: 30px;
        line-height: 30px;
    }

    .get-started-header-right img {
        height: 30px;
    }

    .get-started-subtitle {
        margin-top: 20px;
        font-size: 18px;
        line-height: 28px;
    }

    .get-started-header {
        margin: 0px 15px 15px;
    }
}